@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
/* ////////중고판매 현황판css///// */
#sellerContentMain{
	width: 1300px;
	height: 900px;
	border: 1px solid red;
	margin: auto;
}
.sellerCard{
	width: 600px;
	height: 400px;
	border: 1px solid black;
	float: left;
	margin: 20px;
}

/* 중고 상품등록폼 관련 css */
#prodInputForm{
	border: 1px solid red;
	width: 1300px;
	height: 900px;
	margin: auto;
}