<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.jhta.finalproject.hd.vo.HomeBestVo" alias="homebest"/>
  	<typeAlias type="com.jhta.finalproject.hd.vo.CartListVo" alias="cartview"/>
  </typeAliases>
  <mappers>
    <mapper resource="com/jhta/mybatis/mapper/HomeMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/CartMapper.xml"/>
  </mappers>
</configuration>