<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 
<typeAliases>
	<typeAlias type="com.jhta.spring10.vo.BoardVo" alias="board"/>
</typeAliases>
 -->
  <!-- 매퍼파일 로케이션 줄 때 추가를 해주어도 된다. -->
  <mappers>
    <mapper resource="onlinebookstoresite/mybatis/mapper/jh/OldbooksMapper.xml"/>
  </mappers>
</configuration>