@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}
/*폰트통일*/
*{
	font-family: 'IBMPlexSansKR-Text'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
/*중고판매자 공통 아이콘이미지*/
#tableicon{
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
/*중고판매자 성공/실패 페이지 css*/
#imgok{
	width:1300px;
	height:900px;
	margin: auto;
}
/* ////////중고판매 현황판css///// */
#sellerContentMain {
	width: 1300px;
	height: 900px;
	border: 1px solid red;
	margin: auto;
}

.sellerCard {
	width: 600px;
	height: 400px;
	border: 1px solid black;
	float: left;
	margin: 20px;
}

/* ////////////////////////////중고 상품등록폼 관련 css ///////////////////////////*/
#prodInputForm {
	width: 1300px;
	height: 2000px;
	margin: auto;
	background-color: #F2FAF4;
}

#cate {
	width: 1300px;
	height: 200px;
}

#cateck {
	width: 1300px;
	height: 200px;
	background-color: silver;
}

#basic {
	width: 1300px;
	height: 500px;
}

.infotable {
	width: 100%;
	border: 1px;
}

#prodInputForm {
	width: 1300px;
	height: 2100px;
	margin: auto;
}
/*카테고리css*/
#cate {
	width: 1300px;
	height: 200px;
}

#cateck {
	width: 1300px;
	height: 50%;
	background-color: silver;
}

.bgtd {
	background-color: silver;
	width: 200px;
	height: 50px;
}
/*상품기본정보 css*/
#basic {
	width: 1300px;
	height: 300px;
}

#infotable1 tr td input {
	width: 500px;
	height: 30px;
}
/*상품가격css*/
#price {
	width: 1300px;
	height: 300px;
}

.infotd2 {
	width: 500px;
	height: 30px;
}
/*배송정보*/
#ship {
	width: 1300px;
	height: 300px;
}

#infotable3 tr td input {
	height: 30px;
}

.addr {
	width: 500px;
}

#infotable4 tr td input {
	width: 500px;
	height: 30px;
}

#infotable5 tr td {
	height: 500px;
}

#summernote {
	height: 300px;
}

#bigbox {
	width: 200px;
	height: 300px;
	float: left;
}

.selectbox {
	width: 150px;
	height: 25px;
	padding-left: 20px;
}
#insertbt{
	margin-left: 650px;
}
#updatebt{
	margin-left: 650px;
}

/*검색버튼*/
#list2bt {
	margin-left: 10px;
	margin-right: 10px;
}






/*=========================문의사항 상세페이지css========================*/
#obQnaDetail{
	width: 1300px;
	height: 850px;
	margin: auto;
}
#sellerMoon{
	width: 1000px;
	height: 650px;
	margin: auto;
}
#sellerQnatable tr,td{
	border: 1px solid black;
	border-collapse: collapse;
	width: 1000px;
	
}
#sellerQnatable tr,td{
	border: 1px solid #B4B7B7;
}
.moondetail{
	text-align: center;
	background-color: #EDEDED;
	width: 200px;
}
.moondetailText{
	text-align: center;
	width: 400px;
}
#thumb{
	border: 1px solid #eaeaea;
	width: 120px;
	height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*답변css*/
#dapTable{
    margin-top: 30px;
   
}
#dapTextarea{
    margin-left: 50px;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    margin-right: 10px;
    display: inline;
}
#sellerdap{
	height: 180px;
}
#dapimg{
	float:left;
	margin-left:10px;
	width: 160px;
	margin: 0px;
	padding: 0px;
}
/*답글있을 때 css*/
#sellerdapOk{
	height: 180px;
}
#sellerAnswer{
	width: 800px;
	height: 150px;
	border: 1px solid green;
	margin-left: 180px;
	margin-top: 13px;
	border: 2px solid #6E6E6E;
    border-radius: 10px 10px 10px 10px;
    background-color: #EDEDED;
}
#dapimgok{
	width: 120px;
	height: 120px;
	margin-top:10px;
	margin-left: 10px; 
	float:left;
}
#answerContent{
	width: 630px;
	height: 120px;
	float:left;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 5px;
	padding-top: 5px;
}
#dapinsertbt{
	margin-left: 380px;
}
#dapupdatebt{
	margin-left: 380px;
}
/*===================================리뷰관련 css==================*/
#sellerReviewMain{
	width: 1300px;
	height: 700px;
	margin:auto;
}
/*리뷰 헤더css*/
#reviewHeader{
	width: 1100px;
	height: 200px;
	margin:auto;
	margin-top:30px;
    padding-top: 65px;
	background-image: url("${cp}/resources/jh/jhimages/판매자리뷰베너.png");
}
#jumsu{
	font-size: 40px;
	color: #FE2E64;
	margin-left: 810px;
	font-weight: bold;
}
/*리뷰테이블 css*/
#reviewTable{
	width: 1100px;
	height: 400px;
	margin: auto;
	margin-top: 20px;
}
.reviewOrder{
	color: black;
}
#reviewTable table{
	text-align: center;
}
/*==============================중고판매자 이메일인증 css관련======================*/



