<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.SellerBoardMapper.jh">
	<!-- 중고판매자 QnA리스트 가져오기 -->
	<select id="getSellerQnaList">
		select o.obname OBNAME, oq.obqtitle OBQTITLE, m.mid MID, oq.obqstatus OBQSTATUS,oq.obqdate OBQDATE
		from oldbooks o,obqna oq, members m
		where o.obnum=oq.obnum and oq.mnum=m.mnum and o.snum=1
	</select>

</mapper>