<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.SellerProdLookMapper.jh">
	<!-- 중고책 등록한 상품 조회를 위한 MapperFile -->
	<select id="prodAllSelect" parameterType="int" resultType="oldbooks">
		select * from oldbooks where snum=#{snum} ORDER by obregdate desc
	</select>
</mapper>