<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jhta.yr.mybatis.mapper.PaymentMapper">
	
	<sql id="search">
		
	</sql>

	<select id="allList" resultType="payment">
		select bpayment.*, members.mname, books.btitle, refundhistory.type 
		from bpayment, members, books, refundhistory 
		where bpayment.mnum=members.mnum 
		and bpayment.bnum = books.bnum and btype = 1
		and bpayment.bpaynum = refundhistory.bpaynum(+)
	</select>
</mapper>