<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jhta.yr.mybatis.mapper.PaymentMapper">
	
	<sql id="search">
		
<!-- 		주문번호, 주문자 -->
		<if test="pfield != null and pfield != ''">
			and 
			<choose>
				<when test="pfield == 'bpaynum'">
					bpayment.${pfield} 
				</when>
				<otherwise>
					members.${pfield}
				</otherwise>
			</choose>
			like '%'||#{pkeyword}||'%'
		</if>		

<!-- 주문일, 결제일 -->
		<if test="@com.jhta.finalproject.yr.mybatischeck.MybatisCheck@notEmpty(tfield)">
			 and ${tfield} BETWEEN TO_DATE(#{startDate}) AND TO_DATE(#{endDate})
		</if>		

<!-- 		책제목, 첵 번호 -->
		<if test="@com.jhta.finalproject.yr.mybatischeck.MybatisCheck@notEmpty(bfield)">
			and books.${bfield} like '%'||#{bkeyword}||'%'
		</if>
		
<!-- 		주문상태 -->
		<if test="@com.jhta.finalproject.yr.mybatischeck.MybatisCheck@notEmpty(bstatus)">
			and bstatus in
			<foreach collection="bstatus" item="bs" open="(" close=")" separator=",">
				<if test="bstatus != -1">
				#{bs,jdbcType=VARCHAR}	
				</if>
			</foreach>
	    </if>
	    
<!-- 	    cs 상태 -->
		<if test="@com.jhta.finalproject.yr.mybatischeck.MybatisCheck@notEmpty(type)">
			and type in
			<foreach collection="type" item="type" open="(" close=")" separator=",">
				<if test="type != -1">
				#{type,jdbcType=VARCHAR}	
				</if>
			</foreach>
	    </if>
	    
<!-- 	    입금/결제 상태 -->
		<if test="@com.jhta.finalproject.yr.mybatischeck.MybatisCheck@notEmpty(payType)">
			<if test="payType == 1">
				and bstatus in (1,2,3,4)			
			</if>
			<if test="payType == 0">
				and bstatus = 0			
			</if>
	    </if>
	    
	    
<!-- 	    회원상태 -->
		<if test="@com.jhta.finalproject.yr.mybatischeck.MybatisCheck@notEmpty(mType)">
			<if test="mType == 2">
				and bpayment.mnum = 0  						
			</if>						
			<if test="mType == 1">
				and bpayment.mnum != 0  						
			</if>				
	    </if>

	</sql>

	<select id="allList" resultType="payment" parameterType="hashmap">
	  	select bpayment.*, paymentbook.*, members.mname, books.btitle, refundhistory.type
	    from bpayment, paymentbook, members, books, refundhistory
	    where bpayment.bpaynum = paymentbook.bpaynum
	    and members.mnum = bpayment.mnum
	    and paymentbook.bnum = books.bnum
	    and bpayment.bpaynum = refundhistory.bpaynum(+)
		<include refid="search"/>
	</select>
	
	
</mapper>