@charset "UTF-8";
*{
	font-family: 'IBMPlexSansKR-Text';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.yrbtn{
	margin: 3px
}
.searchbox tr td{
	padding-left: 23px
}


.tab {
    display: flex;
    flex: 1;
    position: relative;
}

.tab li{
	display: block;
/*     list-style-type: decimal; */
	height : 70px;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;	
    flex-grow: 1;
    border: 1px solid #dadcdd;
    padding-top: 10px;
    padding-bottom: 5px;
}

.thumb{
	display: inline-block;
	
}

.thumb:hover {
	color: green;
	cursor: pointer;
}

.thumbcolor {
	color: green;
	cursor: pointer;
}

.title{
	font-size: 20px;
	font-weight: normal;
	margin-left: 15px;
}

.title a { 
	text-decoration:none;
	color : black; 
} 

body{
	background-color: #ecf0f7;
}

.container-fluid{
	background-color: white;
}
