<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.OrderMapper">
	<!-- 중고상품 장바구니->주문페이지 SELECT 문 -->
	<select id="usedorderlist" parameterType="hashmap" resultType="usedOrderVo">
		select cartnum,cart.bnum,cart.btype,cart.bcount,obname,obstatus,oborgprice,obsaleprice,obdelfee,members.mid sid,members.mnum smnum,imgsavefilename from 
		(select * from cart where btype=2 and cartnum in
			<foreach collection="datalist" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		)cart,
		(select * from oldbooks)ob,
		(select * from obseller)obs,
		(select * from img where btype=2 and thumbnail=1) img,
		(select * from members) members 
		where cart.bnum=ob.obnum and cart.bnum=img.bnum and ob.snum=obs.snum and obs.mnum=members.mnum
		order by sid desc
	</select>
 	<!-- 장바구니 -> 주문페이지 갈때 사용하는 SELECT 문  -->
	<select id="orderlist" parameterType="hashmap" resultType="orderVo">
		select btitle,book.bnum,bprice,bpoint, imgsavefilename,cartNum,cart.bcount from
		(select * from cart where btype=1 and cartnum in
		<foreach collection="datalist" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
		)cart,
		(select * from books) book,
		(select * from img where THUMBNAIL=1 and btype=1)img
		where cart.bnum=book.bnum and book.bnum=img.bnum
	</select>
	<!-- 상품페이지,리스트에서 바로 구매하기 버튼 클릭 -->
	<select id="directorder" parameterType="int" resultType="orderVo">
		select btitle,book.bnum,bprice,bpoint,imgsavefilename from
		(select * from books) book,(select * from img where thumbnail=1)img
		where book.bnum=img.bnum and book.bnum=#{bnum}
	</select>
	<!-- 주문페이지에서 배송지 SELECT 함 -->
	<select id="getAddr" parameterType="int" resultType="shipVo">
		select addr,phone,mname,mnum from members where mnum=#{mnum}
	</select>
	
	<!-- 주문페이지에서 사용가능한 포인트 -->
	<select id="usablepoint" parameterType="int" resultType="int">
		select nvl(sum(tranpoint),0) from point where mnum=#{mnum}
	</select>
</mapper>

