<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.OrderMapper">

 	<!-- 장바구니 -> 주문페이지 갈때 사용하는 SELECT 문  -->
	<select id="orderlist" parameterType="hashmap" resultType="orderVo">
		select btitle,book.bnum,bprice,bpoint, imgsavefilename,cartNum,cart.bcount from
		(select * from cart where btype=1 and cartnum in
		<foreach collection="datalist" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
		)cart,
		(select * from books) book,
		(select * from img where THUMBNAIL=1)img
		where cart.bnum=book.bnum and book.bnum=img.bnum
	</select>
	
	<!-- 주문페이지에서 배송지 SELECT 함 -->
	<select id="getAddr" parameterType="int" resultType="string">
		select addr from members where mnum=#{mnum}
	</select>
	
	<!-- 주문페이지에서 사용가능한 포인트 -->
	<select id="usablepoint" parameterType="int" resultType="int">
		select nvl(sum(tranpoint),0) from point where mnum=#{mnum}
	</select>
</mapper>

