<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.OrderHistoryMapper">



	<select id="orderhistory" parameterType="int" resultType="historyVo">
		select bpayment.bpaynum ordernum,borderdate,bfinalmoney,delfee,bstatus,mname,receiver from
		(select * from bpayment where mnum=#{mnum} order by borderdate desc )bpayment,
		(select * from members)members
		where members.mnum=bpayment.mnum
	</select>
	
	<select id="confirmtype" parameterType="int" resultType="hashmap">
		select btype,bnum from paymentbook where bpaynum=#{bpaynum} and rownum=1
	</select>
	
	<select id="countPaymentBook" parameterType="int" resultType="int">
		select count(*) from paymentbook where bpaynum=#{bpaynum}
	</select>
	
	<select id="newBtitle" parameterType="int" resultType="string">
		select btitle from books where bnum=#{bnum}
	</select>
	
	<select id="usedBtitle" parameterType="int" resultType="hashmap">
		select obname,obstatus from oldbooks where obnum=#{bnum}
	</select>
</mapper>